#log{

margin-left: 90%;
    font-size: 1.5em;

}
#usr{

 font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 2em;
    line-height: 1em;
 	color: rgba(10,60,150, 0.8);
    text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
     margin: 0 40%;
     margin-bottom: 30px;
     margin-top: 1%;
}

#catg{
	
	
	
	width: 220px;
}

#myTable{
	
	
	
}